/* .navbar {
  background-color: rgb(31, 35, 49);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
} */

.alert.success {
  background-color: chartreuse;
  color: black;
}

.alert.error {
  background-color: red;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .voting {
  padding-top: 102px;
}

/* Style the header */
.navbar {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

