/* #####################################################ADJUSTING TO SCREEN SIZE #################################*/

/* @media (min-width: 576px) {  }
@media (min-width: 768px) {  }
@media (min-width: 992px) { }
@media (min-width: 1200px) {  } */



.option {
  /* width: 70%; */
  /* background: #EEE;
    margin: 10px auto; */
    text-align: center;
    transition: all 0.5s ease;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
margin:auto;
float: none;
margin-top: 70px;
}

.card-input>h1{
  text-align: center;
  margin: 0 auto;
  float: none;
}

/* ############################################## QUESTIONS DISPLAY ANIMATION #################################*/

.question {
  overflow: auto;
  display: none;

}
.question>h2{
  color: black;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
div.active-question {
  display: block;
}

/* ############################################### CARDS STYLE FORM #################################*/

.card-input-element {
  display: none;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  overflow: hidden;

  background-color: transparent;
  width: 20vw;
  height: 20vh;
  border-radius: 5px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  padding:2%;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  margin: 0 auto;
  float: none;
  background-color: #bbb;
  color: black;
}

.flip-card-front:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.flip-card-front>h1{
  font-size: 30px ;
  text-align: center;
  margin: 0 auto;
  float: none;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Style for the cards grid */

.alert {

  border: solid black 3px;
  opacity: 0.95;
  width: 25%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  
    }
    .alert.success {
      background-color: #46D014;
      color: black;
    }
    
    .alert.danger {
      background-color: #DA2E1A;
      color: black;
    } 
    .alert.error {
      background-color: #DA2E1A;
      color: black;
    } 
    .closeAlert {
      width: 15%;
      background-color: white;
      color: black;
      border: 3px solid #555555;
      border-radius: 10%;
      text-align: center;
    }
    
    .closeAlert:hover {
      background-color: #555555;
      color: white;
    }
  
    .alert>p{
      margin-top: 5px;
      font-weight: bold;
    }

#next-question{
  float: right;
  margin :auto;
  right: 0 !important;
  
}

#voteButton{
  margin: 0 auto;
  float: none;
}

.active { 
  
  border: orangered 5px; 

}

.card-input-element{
  margin-top: 5px;
  margin-left: 5px;
}