html,
body,
#react-root,
.App {
  height: 100vh;
  overflow: auto;
}

.App > div > div#fixed-header {
  height: 10vh;
  overflow: auto;
}
.App > div > div#content {
  height: 89vh;
  top: 10vh;
  overflow: auto;
  padding-top: 1vh;
}
.candidatura {
  position: absolute;
  height: 80vh;
  overflow: auto;
}

/* .voting {
  padding: 16px;
  overflow: hidden;
} */

/* DESDE AQUI SON PARA MOSTRAR COMO CARTAS */
.card-input-element {
  display: none;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 20vw;
  height: 20vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Style for the cards grid */

.option {
  /* width: 70%; */
  /* background: #EEE;
    margin: 10px auto; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-input {
  padding: 2.5vh 2.5vw;
}

/* div.candidatura:first-of-type{
  display:block;
} */
div.candidatura {
  display: none;
  /* opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  transition: opacity 0.2s ease-out, transform 1s; */
}

.active-question {
  display: block !important;
  opacity: 1 !important;
  /* transition: opacity 2s linear;
  transform: translateY(-80vh);
  transition: opacity 0.2s ease-out, transform 1s; */
}

#candidatura1{
  background-color: #EF476F;
  filter: brightness(95%);
}
#candidatura2{
  background-color: #FFD166;
  filter: brightness(95%);

}